.movies-items {
  all                  : unset;
  display              : grid;
  grid-template-columns: repeat(3, 1fr);
  gap                  : 30px 24px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .movies-items {
    grid-template-columns: repeat(2, 1fr);
    gap                  : 36px 30px;
  }
}

@media all and (max-width: 767px) {
  .movies-items {
    grid-template-columns: 1fr;
    gap                  : 16px 0;
  }
}

.movies-items__item {
  all      : unset;
  min-width: 0;
}

