@import url(./vendor/normalize.css);

$fontUrl: './vendor/fonts';
@font-face {
  font-display: swap;
  font-family : 'Inter';
  font-style  : normal;
  font-weight : 400;
  src         : url("#{$fontUrl}/Inter-Regular.woff2?v=3.19") format("woff2"),
    url("#{$fontUrl}/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
  font-display: swap;
  font-family : 'Inter';
  font-style  : normal;
  font-weight : 500;
  src         : url("#{$fontUrl}/Inter-Medium.woff2?v=3.19") format("woff2"),
    url("#{$fontUrl}/Inter-Medium.woff?v=3.19") format("woff");
}

@font-face {
  font-display: swap;
  font-family : 'Inter';
  font-style  : normal;
  font-weight : 900;
  src         : url("#{$fontUrl}/Inter-Black.woff2?v=3.19") format("woff2"),
    url("#{$fontUrl}/Inter-Black.woff?v=3.19") format("woff");
}

.page {
  font-family: 'Inter', Arial, sans-serif;
  color      : #fff;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing : antialiased;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust    : 100%;
  -moz-text-size-adjust   : 100%;

  text-rendering: optimizeLegibility;
}

body {
  background-color: #fff;
}

.header {

}
