@import url(./vendor/normalize.css);

$fontUrl        : './vendor/fonts';
$container-width: 1140px;
$site-offset    : 70px;
$time           : 0.3s;
$ff             : 'Inter',
Arial,
sans-serif;
$color-black: #000;
$color-white: #fff;
$color-green: #2BE080;
$color-blue : #465DFF;

@font-face {
  font-display: swap;
  font-family : 'Inter';
  font-style  : normal;
  font-weight : 400;
  src         : url("#{$fontUrl}/Inter-Regular.woff2?v=3.19") format("woff2"),
  url("#{$fontUrl}/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
  font-display: swap;
  font-family : 'Inter';
  font-style  : normal;
  font-weight : 500;
  src         : url("#{$fontUrl}/Inter-Medium.woff2?v=3.19") format("woff2"),
  url("#{$fontUrl}/Inter-Medium.woff?v=3.19") format("woff");
}

@font-face {
  font-display: swap;
  font-family : 'Inter';
  font-style  : normal;
  font-weight : 900;
  src         : url("#{$fontUrl}/Inter-Black.woff2?v=3.19") format("woff2"),
  url("#{$fontUrl}/Inter-Black.woff?v=3.19") format("woff");
}

@mixin border-box {
  box-sizing: border-box;
}

@mixin mq_mobile {
  @media all and (max-width: 1024px) {
    @content;
  }
}

@mixin mq_tablet {
  @media all and (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin mq_phone {
  @media all and (max-width: 767px) {
    @content;
  }
}

@mixin section-offset {
  padding-left: $site-offset;
  padding-right:$site-offset;

  @include mq_tablet {
    padding-left: 50px;
    padding-right:50px;
  }
}


.image-contain {
  display   : block;
  object-fit: contain;
  width     : 100%;
  height    : 100%;
}

.image-cover {
  display   : block;
  object-fit: cover;
  width     : 100%;
  height    : 100%;
}

.page {
  @include border-box;
  display         : flex;
  flex-direction  : column;
  min-height      : 100dvh;
  background-color: #fff;

  font-family: $ff;
  color      : $color-black;
  font-size  : 14px;
  line-height: 20px;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing : antialiased;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust    : 100%;
  -moz-text-size-adjust   : 100%;

  text-rendering: optimizeLegibility;
}

.content {
  flex: 1;
}

.section-header {
  display      : block;
  margin       : 0;
  padding      : 0 0 23px 0;
  border-bottom: 1px solid $color-black;

  font-size     : 22px;
  font-weight   : 400;
  line-height   : normal;
  letter-spacing: -0.88px;
  color         : $color-black;
}

.header {
  @include border-box;
  @include section-offset;
  display         : flex;
  align-items     : flex-start;
  justify-content : space-between;
  // padding         : 15px ($site-offset) 18px ($site-offset);
  padding-top: 15px;
  padding-bottom: 18px;
  background-color: $color-blue;

  @include mq_tablet {
    padding-left: 30px; // mockup
    padding-right: 30px;// mockup
  }// END mq_tablet


  &__logo {
    flex      : 0 0 auto;
    width     : 38px;
    height    : 38px;
    margin-top: 3px;
  }

  &-actions {
    display    : flex;
    align-items: center;
    gap        : 30px;
    margin-top : 6px;

    &__link {
      all: unset;
      @include border-box;
      user-select    : none;
      text-decoration: none;
      cursor: pointer;

      &_type_text {
        font-size  : 12px;
        font-style : normal;
        font-weight: 500;
        line-height: 16px;
        color      : #fff;
        font-family: $ff;

        transition: opacity $time ease-in-out;

        &:hover {
          opacity: 0.8;
        }
      }

      &_type_btn {
        display         : block;
        padding         : 8px 20px 9px 20px;
        height          : 32px;
        background-color: $color-green;
        border          : none;
        cursor          : pointer;
        user-select     : none;
        border-radius   : 3px;
        transition      : background-color $time ease-in-out, color $time ease-in-out;

        font-family: $ff;
        font-size  : 12px;
        font-weight: 500;
        line-height: normal;
        text-indent: 0;
        white-space: nowrap;
        text-align : center;
        color      : $color-black;

        transition: opacity $time ease-in-out;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }


}
// END .header

.footer {
  @include border-box;
  @include section-offset;

  margin-top: auto;
  // padding   : 79px ($site-offset) 20px ($site-offset);
  padding-top: 79px;
  padding-bottom: 20px;
  background-color: #FAFAFA;

  &__header {
    all: unset;
    display: block;
    font-size  : 13px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: #A0A0A0;
  }

  &__inside {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    border-top: 1px solid #E8E8E8;
    padding-top: 20px;
    margin-top: 20px;
  }

  &__copyright {
    margin: 0;
    font-size: 13px;
    line-height: normal;
  }

  &-actions {
    &-items {
      all: unset;
      display: flex;
      gap: 21px;

      &__item {
        all: unset;
      }
    }

    &__link {
      display: block;
      font-size  : 13px;
      line-height: normal;
      color: $color-black;
      text-decoration: none;

      transition: color $time ease-in-out;

      &:hover {
        color: $color-blue;
      }
    }
  }
}

.button-stroke {
  @include border-box;
  display         : inline-flex;
  padding         : 9px 19px 10px 19px;
  height          : 36px;
  background-color: transparent;
  border          : 1px solid rgba($color-white, 0.6);
  cursor          : pointer;
  user-select     : none;
  border-radius   : 3px;
  transition      : background-color $time ease-in-out, border-color $time ease-in-out,
    color $time ease-in-out;

  font-family    : $ff;
  font-size      : 12px;
  font-weight    : 500;
  line-height    : normal;
  text-indent    : 0;
  white-space    : nowrap;
  text-align     : center;
  color          : $color-white;
  text-decoration: none;


  &:hover {
    background-color: $color-white;
    border-color: $color-white;
    color: $color-black;
  }
}


.promo {
  @include border-box;
  @include section-offset;

  display              : grid;
  grid-template-columns: auto 310px;
  grid-template-rows   : 1fr 1fr auto;
  gap                  : 0 64px;
  grid-template-areas  :
    'header pic'
    'desc pic'
    'footer .';

  background-color: $color-blue;
  // padding         : 75px ($site-offset) 75px ($site-offset);
  padding-top: 75px;
  padding-bottom: 75px;
  min-height      : 574px;
  color           : $color-white;

  @include mq_mobile {
    grid-template-columns: 1fr;
    grid-template-areas :
    'pic'
    'header'
    'desc'
    'footer';
    justify-items: center;
    grid-template-rows: auto;
  }

  @include mq_tablet {
    padding-top: 140px;
    padding-bottom: 76px;
  }// END mq_tablet

  &__header {
    grid-area  : header;
    margin     : 0;
    max-width  : 640px;
    font-size  : 50px;
    font-weight: 400;
    line-height: 58px;

    @include mq_tablet {
      max-width: 680px;
      margin-top: 49px;
      text-align: center;
      font-size: 40px;
      line-height: 50px;
    }
  }

  &__desc {
    grid-area  : desc;
    margin     : 15px 0 0 0;
    max-width  : 310px;
    font-size  : 13px;
    font-style : normal;
    font-weight: 400;
    line-height: normal;
    opacity    : 0.5;

    @include mq_mobile {
      max-width: 260px;
      text-align: center;
    }
    @include mq_tablet {
      margin-top: 21px;
    }// END mq_tablet
  }

  &__pic {
    grid-area: pic;
    width    : 310px;
    height   : 304px;
  }

  &__actions {
    margin-top: auto;

    @include mq_tablet {
      padding-top: 92px;
    }// END mq_tablet
  }
}



.about-project {
  @include section-offset;
  // padding: 111px ($site-offset) 102px ($site-offset);
  padding-top: 111px;
  padding-bottom: 102px;

  @include mq_tablet {
    padding-top: 91px;
    padding-bottom: 83px;
  }// END mq_tablet

  &__columns {
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    gap                  : 40px;
    margin               : 70px 0 0 0;

    @include mq_tablet {
      gap: 30px;
    }// END mq_tablet
  }

  &__title {
    display: block;
    margin : 0;
    padding: 0;

    font-size     : 20px;
    font-weight   : 400;
    line-height   : normal;
    letter-spacing: -0.8px;
  }

  &__text {
    margin: 26px 0 0 0;

    @include mq_tablet {
      margin-top: 22px;
      font-size: 12px;
      line-height: 18px;
    }// END mq_tablet
  }

}

// END .about-project

.progressbar {
  display                 : grid;
  // grid-template-columns: 1fr 5fr;
  grid-template-columns   : 1fr 4fr;
  gap                     : 6px 0;
  margin-top              : 110px;

  @include mq_tablet {
    margin-top: 93px;
    grid-template-columns : 140px auto;
  }// END mq_tablet

  &__line {
    padding   : 8px;
    font-size : 14px;
    list-style: normal;
    text-align: center;

    &_bg_green {
      background-color: $color-green;
    }

    &_bg_silver {
      background-color: #F2F2F2;
    }
  }

  &__caption {
    padding    : 8px;
    font-size  : 14px;
    font-style : normal;
    font-weight: 500;
    line-height: 17px;
    color      : #A0A0A0;

    text-align: center;
  }
}


.technologies {
  @include section-offset;
  background-color: #F5F5F5;
  // padding         : 101px ($site-offset) 100px ($site-offset);
  padding-top: 101px;
  padding-bottom: 100px;

  &__header {
    display       : block;
    margin        : 90px 0 0 0;
    text-align    : center;
    font-size     : 50px;
    font-weight   : 400;
    line-height   : 58px;
    letter-spacing: -2px;
  }

  &__desc {
    margin        : 26px auto 0 auto;
    max-width     : 460px;
    text-align    : center;
    letter-spacing: -0.56px;
  }

  &-stack {
    all            : unset;
    margin-top     : 24px;
    display        : flex;
    flex-wrap      : wrap;
    gap            : 10px;
    justify-content: center;
    margin         : 100px 0 0 0;

    &__item {
      all             : unset;
      border-radius   : 10px;
      background-color: #E8E8E8;
      min-width       : 60px;
      padding         : 21px 15px 22px 15px;

      font-size     : 14px;
      line-height   : normal;
      letter-spacing: -0.56px;
      text-align    : center;
    }
  }

}

// END .technologies


.about-me {
  @include section-offset;
  // padding: 111px ($site-offset) 61px ($site-offset);
  padding-top: 111px;
  padding-bottom: 61px;

  &-columns {
    display        : flex;
    justify-content: space-between;
    margin-top     : 66px;

    &__content {
      display       : flex;
      flex-direction: column;
      flex          : 1;
      width         : 100%;
      max-width     : 600px;
    }

    &__aside {
      flex : 0 0 auto;
      width: 270px;
    }
  }

  &__header {
    display: block;
    margin : 0;

    font-size     : 50px;
    font-weight   : 400;
    line-height   : 58px;
    letter-spacing: -2px;
  }

  &__subtitle {
    display      : block;
    margin-top   : 19px;
    margin-bottom: 0;

    font-size  : 18px;
    font-weight: 500;
    line-height: 20px;
  }

  &__text {
    margin-top   : 25px;
    margin-bottom: 0;

    line-height: 22px;
  }

  &__actions {
    margin-top    : auto;
    display       : flex;
    flex-wrap     : wrap;
    gap           : 12px;
    padding-bottom: 1px;
  }

  &__action {
    margin: 0;

    font-size      : 14px;
    font-weight    : 500;
    line-height    : normal;
    color          : $color-black;
    text-decoration: none;

    transition: color $time ease-in-out;

    &:hover {
      color: $color-blue;
    }
  }

  &__photo {
    // width        : 270px;
    // height       : 327px;

    &-img {
      border-radius: 10px;
    }
  }
}

// END .about-me


.portfolio {
  @include section-offset;
  // padding: 40px ($site-offset) 106px ($site-offset);
  padding-top: 40px;
  padding-bottom: 106px;

  &__section-header {
    display: block;
    margin : 0;

    font-size  : 18px;
    font-weight: 400;
    line-height: 20px;
    color      : #A0A0A0;
  }

  &-items {
    all: unset;
    display       : flex;
    flex-direction: column;
    margin-top: 29px;

    &__item {
      all: unset;
      border-top: 1px solid #E8E8E8;

      &:first-child {
        border-top: none;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0 20px;
    padding: 20px 6px 19px 0;
    color: $color-black;
    text-decoration: none;
    transition: color $time ease-in-out;

    &:hover {
      color: $color-blue;
    }
    &-title {
      flex: 1;
      font-size     : 30px;
      font-weight   : 400;
      line-height   : 50px;
      letter-spacing: -1.2px;
    }
    &-ico {
      margin-top: 4px;
      flex: 0 0 auto;
      width: 18px;
      height: 17px;
    }
  }



}// END .portfolio
