@import url(./vendor/normalize.css);
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url("./vendor/fonts/Inter-Regular.woff2?v=3.19") format("woff2"), url("./vendor/fonts/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url("./vendor/fonts/Inter-Medium.woff2?v=3.19") format("woff2"), url("./vendor/fonts/Inter-Medium.woff?v=3.19") format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url("./vendor/fonts/Inter-Black.woff2?v=3.19") format("woff2"), url("./vendor/fonts/Inter-Black.woff?v=3.19") format("woff");
}

.image-contain {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.image-cover {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: #fff;
  font-family: "Inter", Arial, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.content {
  flex: 1;
}

.section-header {
  display: block;
  margin: 0;
  padding: 0 0 23px 0;
  border-bottom: 1px solid #000;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  color: #000;
}

.header {
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 18px;
  background-color: #465DFF;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header__logo {
  flex: 0 0 auto;
  width: 38px;
  height: 38px;
  margin-top: 3px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 6px;
}

.header-actions__link {
  all: unset;
  box-sizing: border-box;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
}

.header-actions__link_type_text {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  transition: opacity 0.3s ease-in-out;
}

.header-actions__link_type_text:hover {
  opacity: 0.8;
}

.header-actions__link_type_btn {
  display: block;
  padding: 8px 20px 9px 20px;
  height: 32px;
  background-color: #2BE080;
  border: none;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  text-indent: 0;
  white-space: nowrap;
  text-align: center;
  color: #000;
  transition: opacity 0.3s ease-in-out;
}

.header-actions__link_type_btn:hover {
  opacity: 0.8;
}

.footer {
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
  margin-top: auto;
  padding-top: 79px;
  padding-bottom: 20px;
  background-color: #FAFAFA;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.footer__header {
  all: unset;
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: #A0A0A0;
}

.footer__inside {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #E8E8E8;
  padding-top: 20px;
  margin-top: 20px;
}

.footer__copyright {
  margin: 0;
  font-size: 13px;
  line-height: normal;
}

.footer-actions-items {
  all: unset;
  display: flex;
  gap: 21px;
}

.footer-actions-items__item {
  all: unset;
}

.footer-actions__link {
  display: block;
  font-size: 13px;
  line-height: normal;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-actions__link:hover {
  color: #465DFF;
}

.button-stroke {
  box-sizing: border-box;
  display: inline-flex;
  padding: 9px 19px 10px 19px;
  height: 36px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  text-indent: 0;
  white-space: nowrap;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.button-stroke:hover {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.promo {
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
  display: grid;
  grid-template-columns: auto 310px;
  grid-template-rows: 1fr 1fr auto;
  gap: 0 64px;
  grid-template-areas: 'header pic' 'desc pic' 'footer .';
  background-color: #465DFF;
  padding-top: 75px;
  padding-bottom: 75px;
  min-height: 574px;
  color: #fff;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .promo {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media all and (max-width: 1024px) {
  .promo {
    grid-template-columns: 1fr;
    grid-template-areas: 'pic' 'header' 'desc' 'footer';
    justify-items: center;
    grid-template-rows: auto;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .promo {
    padding-top: 140px;
    padding-bottom: 76px;
  }
}

.promo__header {
  grid-area: header;
  margin: 0;
  max-width: 640px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .promo__header {
    max-width: 680px;
    margin-top: 49px;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
  }
}

.promo__desc {
  grid-area: desc;
  margin: 15px 0 0 0;
  max-width: 310px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}

@media all and (max-width: 1024px) {
  .promo__desc {
    max-width: 260px;
    text-align: center;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .promo__desc {
    margin-top: 21px;
  }
}

.promo__pic {
  grid-area: pic;
  width: 310px;
  height: 304px;
}

.promo__actions {
  margin-top: auto;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .promo__actions {
    padding-top: 92px;
  }
}

.about-project {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 111px;
  padding-bottom: 102px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .about-project {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .about-project {
    padding-top: 91px;
    padding-bottom: 83px;
  }
}

.about-project__columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 70px 0 0 0;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .about-project__columns {
    gap: 30px;
  }
}

.about-project__title {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.about-project__text {
  margin: 26px 0 0 0;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .about-project__text {
    margin-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }
}

.progressbar {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 6px 0;
  margin-top: 110px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .progressbar {
    margin-top: 93px;
    grid-template-columns: 140px auto;
  }
}

.progressbar__line {
  padding: 8px;
  font-size: 14px;
  list-style: normal;
  text-align: center;
}

.progressbar__line_bg_green {
  background-color: #2BE080;
}

.progressbar__line_bg_silver {
  background-color: #F2F2F2;
}

.progressbar__caption {
  padding: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  color: #A0A0A0;
  text-align: center;
}

.technologies {
  padding-left: 70px;
  padding-right: 70px;
  background-color: #F5F5F5;
  padding-top: 101px;
  padding-bottom: 100px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .technologies {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.technologies__header {
  display: block;
  margin: 90px 0 0 0;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.technologies__desc {
  margin: 26px auto 0 auto;
  max-width: 460px;
  text-align: center;
  letter-spacing: -0.56px;
}

.technologies-stack {
  all: unset;
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 100px 0 0 0;
}

.technologies-stack__item {
  all: unset;
  border-radius: 10px;
  background-color: #E8E8E8;
  min-width: 60px;
  padding: 21px 15px 22px 15px;
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.56px;
  text-align: center;
}

.about-me {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 111px;
  padding-bottom: 61px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .about-me {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.about-me-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
}

.about-me-columns__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 600px;
}

.about-me-columns__aside {
  flex: 0 0 auto;
  width: 270px;
}

.about-me__header {
  display: block;
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.about-me__subtitle {
  display: block;
  margin-top: 19px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.about-me__text {
  margin-top: 25px;
  margin-bottom: 0;
  line-height: 22px;
}

.about-me__actions {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-bottom: 1px;
}

.about-me__action {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.about-me__action:hover {
  color: #465DFF;
}

.about-me__photo-img {
  border-radius: 10px;
}

.portfolio {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 40px;
  padding-bottom: 106px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .portfolio {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.portfolio__section-header {
  display: block;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #A0A0A0;
}

.portfolio-items {
  all: unset;
  display: flex;
  flex-direction: column;
  margin-top: 29px;
}

.portfolio-items__item {
  all: unset;
  border-top: 1px solid #E8E8E8;
}

.portfolio-items__item:first-child {
  border-top: none;
}

.portfolio__link {
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding: 20px 6px 19px 0;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.portfolio__link:hover {
  color: #465DFF;
}

.portfolio__link-title {
  flex: 1;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
}

.portfolio__link-ico {
  margin-top: 4px;
  flex: 0 0 auto;
  width: 18px;
  height: 17px;
}
/*# sourceMappingURL=style.css.map */