@import url(./vendor/normalize.css);
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url("./vendor/fonts/Inter-Regular.woff2?v=3.19") format("woff2"), url("./vendor/fonts/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url("./vendor/fonts/Inter-Medium.woff2?v=3.19") format("woff2"), url("./vendor/fonts/Inter-Medium.woff?v=3.19") format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url("./vendor/fonts/Inter-Black.woff2?v=3.19") format("woff2"), url("./vendor/fonts/Inter-Black.woff?v=3.19") format("woff");
}

.image-contain {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.image-cover {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: #fff;
  font-family: "Inter", Arial, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media all and (max-width: 767px) {
  .page {
    font-size: 11px;
    line-height: 16px;
  }
}

.content {
  flex: 1;
}

.section-header {
  display: block;
  margin: 0;
  padding: 0 0 23px 0;
  border-bottom: 1px solid #000;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  color: #000;
}

@media all and (max-width: 767px) {
  .section-header {
    padding-bottom: 28px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }
}

.header {
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 18px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media all and (max-width: 767px) {
  .header {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media all and (max-width: 767px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.header_theme_blue {
  background-color: #465DFF;
}

.header__logo {
  flex: 0 0 auto;
  width: 38px;
  height: 38px;
  margin-top: 3px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 6px;
}

@media all and (max-width: 767px) {
  .header-actions {
    gap: 15px;
    margin-top: 9px;
  }
}

.header-actions__link {
  all: unset;
  box-sizing: border-box;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.header-actions__link:hover {
  opacity: 0.7;
}

.header-actions__link_type_text {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
}

@media all and (max-width: 767px) {
  .header-actions__link_type_text {
    font-size: 10px;
  }
}

.header-actions__link_type_btn {
  display: block;
  padding: 8px 20px 9px 20px;
  height: 32px;
  background-color: #2BE080;
  border: none;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  text-indent: 0;
  white-space: nowrap;
  text-align: center;
  color: #000;
}

@media all and (max-width: 767px) {
  .header-actions__link_type_btn {
    height: 26px;
    padding: 7px 12px 7px 12px;
    font-size: 10px;
  }
}

.header__burger {
  all: unset;
  display: none;
  position: absolute;
  top: 15px;
  right: 30px;
  width: 44px;
  height: 44px;
  user-select: none;
  cursor: pointer;
}

@media all and (max-width: 1024px) {
  .header__burger {
    display: block;
  }
}

@media all and (max-width: 767px) {
  .header__burger {
    right: 15px;
    width: 38px;
    top: 15px;
    transform: scale3d(0.9, 0.999, 1);
  }
}

.header-profile-nav {
  flex: 1;
  align-items: center;
  margin-top: 6px;
  margin-left: 45px;
}

@media all and (max-width: 1024px) {
  .header-profile-nav {
    all: unset;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    min-height: 100dvh;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .header-profile-nav_active {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
  }
}

.header-profile-nav-items {
  all: unset;
  display: flex;
  align-items: center;
  gap: 16px;
}

@media all and (max-width: 1024px) {
  .header-profile-nav-items {
    box-sizing: border-box;
    width: 100%;
    max-width: 520px;
    margin-left: auto;
    background-color: #fff;
    flex-direction: column;
    flex: 1;
    max-height: 100%;
    overflow-y: auto;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .header-profile-nav-items {
    padding-top: 159px;
    padding-bottom: 92px;
    gap: 28px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) and (max-height: 436px) {
  .header-profile-nav-items {
    padding-top: 80px;
    padding-bottom: 46px;
  }
}

@media all and (max-width: 767px) {
  .header-profile-nav-items {
    padding-top: 144px;
    padding-bottom: 48px;
    gap: 24px;
  }
}

@media all and (max-width: 767px) and (max-height: 436px) {
  .header-profile-nav-items {
    padding-top: 72px;
    padding-bottom: 25px;
  }
}

.header-profile-nav-items__item {
  all: unset;
}

@media all and (min-width: 1025px) {
  .header-profile-nav-items__item_hidden-desktop {
    display: none;
  }
}

.header-profile-nav-items__item_pos-right {
  margin-left: auto;
}

@media all and (max-width: 1024px) {
  .header-profile-nav-items__item_pos-right {
    margin-left: 0;
    margin-top: auto;
  }
}

.header-profile-nav__link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-top: 1px;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  font-family: "Inter", Arial, sans-serif;
}

.header-profile-nav__link:hover {
  opacity: 0.7;
}

.header-profile-nav__link_active {
  font-weight: 500;
}

@media all and (max-width: 1024px) {
  .header-profile-nav__link {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
  }
  .header-profile-nav__link_active {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
  }
}

@media all and (max-width: 767px) {
  .header-profile-nav__link_active {
    text-underline-offset: 11px;
  }
}

.header-profile-nav__link_type-profile {
  padding-top: 0;
  font-size: 14px;
  font-weight: 500;
}

.header-profile-nav__link-ico {
  flex: 0 0 auto;
  width: 26px;
  height: 30px;
  margin-left: 18px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .header-profile-nav__link-ico {
    margin-top: 1px;
  }
}

@media all and (max-width: 767px) {
  .header-profile-nav__link-ico {
    margin-top: 1px;
  }
}

.header-profile-nav__button-close {
  all: unset;
  display: none;
  position: absolute;
  top: 22px;
  right: 22px;
  width: 32px;
  height: 32px;
  user-select: none;
  cursor: pointer;
}

@media all and (max-width: 1024px) {
  .header-profile-nav__button-close {
    display: block;
  }
}

@media all and (max-width: 767px) {
  .header-profile-nav__button-close {
    top: 13px;
    right: 13px;
  }
}

.footer {
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
  margin-top: auto;
  padding-top: 79px;
  padding-bottom: 20px;
  background-color: #FAFAFA;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media all and (max-width: 767px) {
  .footer {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    background-color: transparent;
    padding-top: 44px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media all and (max-width: 767px) {
  .footer {
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.footer__header {
  all: unset;
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: #A0A0A0;
}

@media all and (max-width: 767px) {
  .footer__header {
    font-size: 12px;
  }
}

.footer__inside {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #E8E8E8;
  padding-top: 20px;
  margin-top: 20px;
}

@media all and (max-width: 767px) {
  .footer__inside {
    margin-top: 21px;
    padding-top: 30px;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }
}

.footer__copyright {
  margin: 0;
  font-size: 13px;
  line-height: normal;
}

@media all and (max-width: 767px) {
  .footer__copyright {
    font-size: 12px;
    color: #A0A0A0;
  }
}

.footer-actions-items {
  all: unset;
  display: flex;
  gap: 21px;
}

@media all and (max-width: 767px) {
  .footer-actions-items {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    word-spacing: -1px;
  }
}

.footer-actions-items__item {
  all: unset;
}

.footer-actions__link {
  display: block;
  font-size: 13px;
  line-height: normal;
  color: #000;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.footer-actions__link:hover {
  opacity: 0.7;
}

@media all and (max-width: 767px) {
  .footer-actions__link {
    font-size: 12px;
  }
}

.button-stroke {
  box-sizing: border-box;
  display: inline-flex;
  padding: 9px 19px 10px 19px;
  height: 36px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  text-indent: 0;
  white-space: nowrap;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.button-stroke:hover {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.button-silver {
  box-sizing: border-box;
  display: block;
  padding: 11px 19px 10px 19px;
  width: 100%;
  height: 36px;
  background-color: #F9F9F9;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  text-indent: 0;
  white-space: nowrap;
  text-align: center;
  color: #000;
  text-decoration: none;
}

.button-silver:hover {
  color: #000;
  opacity: 0.7;
}

.promo {
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
  display: grid;
  grid-template-columns: auto 310px;
  grid-template-rows: 1fr 1fr auto;
  gap: 0 64px;
  grid-template-areas: 'header pic' 'desc pic' 'footer .';
  background-color: #465DFF;
  padding-top: 75px;
  padding-bottom: 75px;
  min-height: 574px;
  color: #fff;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .promo {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media all and (max-width: 767px) {
  .promo {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media all and (max-width: 1024px) {
  .promo {
    grid-template-columns: 1fr;
    grid-template-areas: 'pic' 'header' 'desc' 'footer';
    justify-items: center;
    grid-template-rows: auto;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .promo {
    padding-top: 140px;
    padding-bottom: 76px;
  }
}

@media all and (max-width: 767px) {
  .promo {
    padding-top: 70px;
    padding-bottom: 30px;
  }
}

.promo__header {
  grid-area: header;
  margin: 0;
  max-width: 640px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .promo__header {
    max-width: 680px;
    margin-top: 49px;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
  }
}

@media all and (max-width: 767px) {
  .promo__header {
    margin-top: 44px;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.2px;
    text-align: center;
  }
}

.promo__desc {
  grid-area: desc;
  margin: 15px 0 0 0;
  max-width: 310px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}

@media all and (max-width: 1024px) {
  .promo__desc {
    max-width: 260px;
    text-align: center;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .promo__desc {
    margin-top: 21px;
  }
}

@media all and (max-width: 767px) {
  .promo__desc {
    margin-top: 24px;
  }
}

.promo__pic {
  grid-area: pic;
  width: 310px;
  height: 304px;
}

@media all and (max-width: 767px) {
  .promo__pic {
    width: 210px;
    height: 206px;
  }
}

.promo__actions {
  margin-top: auto;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .promo__actions {
    padding-top: 92px;
  }
}

@media all and (max-width: 767px) {
  .promo__actions {
    padding-top: 80px;
  }
}

.about-project {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 111px;
  padding-bottom: 102px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .about-project {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media all and (max-width: 767px) {
  .about-project {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .about-project {
    padding-top: 91px;
    padding-bottom: 83px;
  }
}

@media all and (max-width: 767px) {
  .about-project {
    padding-top: 71px;
    padding-bottom: 71px;
  }
}

.about-project__columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 70px 0 0 0;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .about-project__columns {
    gap: 30px;
  }
}

@media all and (max-width: 767px) {
  .about-project__columns {
    grid-template-columns: 1fr;
    gap: 42px 0;
    margin-top: 46px;
  }
}

.about-project__title {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

@media all and (max-width: 767px) {
  .about-project__title {
    margin-top: 15px;
    font-size: 18px;
    letter-spacing: -0.72px;
    line-height: 22px;
  }
}

.about-project__text {
  margin: 26px 0 0 0;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .about-project__text {
    margin-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media all and (max-width: 767px) {
  .about-project__text {
    margin-top: 15px;
  }
}

.progressbar {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 6px 0;
  margin-top: 110px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .progressbar {
    margin-top: 93px;
    grid-template-columns: 140px auto;
  }
}

@media all and (max-width: 767px) {
  .progressbar {
    margin-top: 60px;
    grid-template-columns: 100px auto;
    gap: 1px 0;
  }
}

.progressbar__line {
  padding: 8px;
  font-size: 14px;
  list-style: normal;
  text-align: center;
}

@media all and (max-width: 767px) {
  .progressbar__line {
    padding-top: 10px;
    padding-bottom: 9px;
    font-size: 11px;
  }
}

.progressbar__line_bg_green {
  background-color: #2BE080;
}

.progressbar__line_bg_silver {
  background-color: #F2F2F2;
}

.progressbar__caption {
  padding: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  color: #A0A0A0;
  text-align: center;
}

@media all and (max-width: 767px) {
  .progressbar__caption {
    font-size: 11px;
  }
}

.technologies {
  padding-left: 70px;
  padding-right: 70px;
  background-color: #F5F5F5;
  padding-top: 101px;
  padding-bottom: 100px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .technologies {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media all and (max-width: 767px) {
  .technologies {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .technologies {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media all and (max-width: 767px) {
  .technologies {
    background-color: transparent;
    padding-top: 59px;
    padding-bottom: 30px;
  }
}

.technologies__header {
  display: block;
  margin: 90px 0 0 0;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .technologies__header {
    margin-top: 80px;
  }
}

@media all and (max-width: 767px) {
  .technologies__header {
    margin-top: 49px;
    font-size: 30px;
    letter-spacing: -1.2px;
  }
}

.technologies__desc {
  margin: 26px auto 0 auto;
  max-width: 460px;
  text-align: center;
  letter-spacing: -0.56px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .technologies__desc {
    margin-top: 22px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
  }
}

@media all and (max-width: 767px) {
  .technologies__desc {
    margin-top: 13px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
  }
}

.technologies-stack {
  all: unset;
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 100px 0 0 0;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .technologies-stack {
    margin-top: 83px;
  }
}

@media all and (max-width: 767px) {
  .technologies-stack {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 84px);
    justify-content: center;
  }
}

.technologies-stack__item {
  all: unset;
  border-radius: 10px;
  background-color: #E8E8E8;
  min-width: 60px;
  padding: 21px 15px 22px 15px;
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.56px;
  text-align: center;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .technologies-stack__item {
    min-width: 64px;
    padding: 21px 10px 21px 10px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media all and (max-width: 767px) {
  .technologies-stack__item {
    box-sizing: border-box;
    min-width: 84px;
    padding-bottom: 21px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

.about-me {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 111px;
  padding-bottom: 61px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .about-me {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media all and (max-width: 767px) {
  .about-me {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .about-me {
    padding-top: 91px;
    padding-bottom: 51px;
  }
}

@media all and (max-width: 767px) {
  .about-me {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 29px;
  }
}

.about-me-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
}

@media all and (max-width: 767px) {
  .about-me-columns {
    flex-direction: column-reverse;
    margin-top: 60px;
  }
}

.about-me-columns__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 600px;
}

@media all and (max-width: 767px) {
  .about-me-columns__content {
    margin-top: 29px;
  }
}

.about-me-columns__aside {
  flex: 0 0 auto;
  width: 270px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .about-me-columns__aside {
    width: 255px;
    margin-left: 49px;
  }
}

@media all and (max-width: 767px) {
  .about-me-columns__aside {
    width: 292px;
    height: 352px;
  }
}

.about-me__header {
  display: block;
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .about-me__header {
    margin-top: 1px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
  }
}

@media all and (max-width: 767px) {
  .about-me__header {
    font-size: 30px;
    letter-spacing: -1.2px;
  }
}

.about-me__subtitle {
  display: block;
  margin-top: 19px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .about-me__subtitle {
    margin-top: 15px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media all and (max-width: 767px) {
  .about-me__subtitle {
    margin-top: 9px;
    font-size: 11px;
    line-height: 16px;
  }
}

.about-me__text {
  margin-top: 25px;
  margin-bottom: 0;
  line-height: 22px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .about-me__text {
    margin-top: 20px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media all and (max-width: 767px) {
  .about-me__text {
    margin-top: 20px;
    line-height: 16px;
  }
}

.about-me__actions {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-bottom: 1px;
}

@media all and (max-width: 767px) {
  .about-me__actions {
    margin-top: 40px;
  }
}

.about-me__action {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #000;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.about-me__action:hover {
  opacity: 0.7;
}

.about-me__photo-img {
  border-radius: 10px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .about-me__photo-img {
    height: 307px;
    width: 255px;
  }
}

.portfolio {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 40px;
  padding-bottom: 106px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .portfolio {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media all and (max-width: 767px) {
  .portfolio {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media all and (max-width: 767px) {
  .portfolio {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 50px;
  }
}

.portfolio__section-header {
  display: block;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #A0A0A0;
}

@media all and (max-width: 767px) {
  .portfolio__section-header {
    font-size: 14px;
  }
}

.portfolio-items {
  all: unset;
  display: flex;
  flex-direction: column;
  margin-top: 29px;
}

@media all and (max-width: 767px) {
  .portfolio-items {
    margin-top: 21px;
  }
}

.portfolio-items__item {
  all: unset;
  border-top: 1px solid #E8E8E8;
}

@media all and (max-width: 767px) {
  .portfolio-items__item {
    border-color: #E6E6E6;
  }
}

.portfolio-items__item:first-child {
  border-top: none;
}

.portfolio__link {
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding: 20px 6px 19px 0;
  color: #000;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.portfolio__link:hover {
  opacity: 0.7;
}

.portfolio__link-title {
  flex: 1;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .portfolio__link-title {
    font-size: 28px;
    line-height: 50px;
    letter-spacing: -1.12px;
  }
}

@media all and (max-width: 767px) {
  .portfolio__link-title {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
}

.portfolio__link-ico {
  margin-top: 4px;
  flex: 0 0 auto;
  width: 18px;
  height: 17px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .portfolio__link-ico {
    width: 17px;
    height: 16px;
  }
}

@media all and (max-width: 767px) {
  .portfolio__link-ico {
    width: 11px;
    height: 11px;
    margin-top: 0;
    transform: translate(2px, -2px);
  }
}

.search {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 55px;
  padding-bottom: 64px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .search {
    padding-top: 71px;
    padding-bottom: 77px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media all and (max-width: 767px) {
  .search {
    padding-top: 84px;
    padding-left: 14px;
    padding-right: 14px;
  }
}

.search-form {
  all: unset;
}

.search-form__group {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
}

.search-form__ico {
  flex: 0 0 auto;
  width: 34px;
  height: 34px;
  margin-left: 6px;
  pointer-events: none;
}

@media all and (max-width: 767px) {
  .search-form__ico {
    display: none;
  }
}

.search-form__input {
  all: unset;
  padding: 15px 74px 15px 68px;
  border: none;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: normal;
  text-align: center;
  color: #000;
  /*
	@include autocomplite {
		background-color: transparent !important;
		color: -internal-light-dark($color1, $color1) !important;
	}
	*/
}

.search-form__input::-webkit-input-placeholder {
  color: #A0A0A0;
}

.search-form__input:-moz-placeholder {
  color: #A0A0A0;
}

.search-form__input::-moz-placeholder {
  color: #A0A0A0;
}

.search-form__input:-ms-input-placeholder {
  color: #A0A0A0;
}

.search-form__input:-internal-autofill-selected {
  background-color: transparent !important;
  color: -internal-light-dark(#000, #000) !important;
}

@media all and (max-width: 767px) {
  .search-form__input {
    padding-left: 0;
    font-size: 18px;
    text-align: left;
  }
}

.search-form__btn {
  all: unset;
  flex: 0 0 auto;
  width: 34px;
  height: 34px;
  cursor: pointer;
  user-select: none;
  transition: opacity 0.3s ease-in-out;
}

.search-form__btn:hover {
  opacity: 0.7;
}

@media all and (max-width: 767px) {
  .search-form__btn {
    margin-top: -1px;
  }
}

.search-checkbox {
  display: flex;
  justify-content: center;
  margin-top: 29px;
  cursor: pointer;
  user-select: none;
}

@media all and (max-width: 767px) {
  .search-checkbox {
    margin-top: 44px;
  }
}

.search-checkbox__label {
  all: unset;
  display: flex;
  position: relative;
}

.search-checkbox__input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.search-checkbox__ico {
  flex: 0 0 auto;
  position: relative;
  width: 36px;
  height: 20px;
  background-color: #EBEBEB;
  border-radius: 100px;
  margin-right: 12px;
  transition: background-color 0.3s ease-in-out;
}

@media all and (max-width: 767px) {
  .search-checkbox__ico {
    margin-top: -2px;
    margin-right: 13px;
  }
}

.search-checkbox__ico:after {
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  border-radius: 50%;
  content: '';
}

.search-checkbox__input:checked ~ .search-checkbox__ico {
  background-color: #2BE080;
}

.search-checkbox__input:checked ~ .search-checkbox__ico:after {
  background-color: #fff;
  transform: translateX(16px);
}

.movies {
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 54px;
  margin-bottom: 80px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .movies {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 115px;
  }
}

@media all and (max-width: 767px) {
  .movies {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 26px;
  }
}

.movies-items {
  all: unset;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 24px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .movies-items {
    grid-template-columns: repeat(2, 1fr);
    gap: 36px 30px;
  }
}

@media all and (max-width: 767px) {
  .movies-items {
    grid-template-columns: 1fr;
    gap: 16px 0;
  }
}

.movies-items__item {
  all: unset;
  min-width: 0;
}

.movies__footer-actions {
  margin-top: 80px;
}

.movie {
  padding: 0;
  margin: 0;
  background-color: #FDFDFD;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
  min-width: 0;
}

.movie__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 24px;
  padding: 13px 14px 13px 14px;
}

.movie__group {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 9px 0;
  min-width: 0;
}

.movie__actions {
  flex: 0 0 auto;
}

.movie__title {
  all: unset;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie__duration {
  margin: 0;
  font-size: 11px;
  line-height: normal;
  color: #A0A0A0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie__button-save, .movie__button-remove {
  all: unset;
  display: block;
  width: 30px;
  height: 30px;
  user-select: none;
  cursor: pointer;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: opacity 0.3s ease-in-out;
}

.movie__button-save:hover, .movie__button-remove:hover {
  opacity: 0.7;
}

.movie__button-save {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Crect width='30' height='30' rx='15' fill='%23F9F9F9'/%3E%3Cpath d='M10.5 9.9C10.5 9.40294 10.9029 9 11.4 9H18.6C19.0971 9 19.5 9.40294 19.5 9.9V20.4789C19.5 20.5552 19.418 20.6034 19.3513 20.5662L16.2168 18.8198C15.4603 18.3984 14.5397 18.3984 13.7832 18.8198L10.6487 20.5662C10.582 20.6034 10.5 20.5552 10.5 20.4789V9.9Z' stroke='%23E8E8E8'/%3E%3C/svg%3E");
}

.movie__button-save_active {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Crect width='30' height='30' rx='15' fill='%232BE080'/%3E%3Cpath d='M10 9.9C10 9.1268 10.6268 8.5 11.4 8.5H18.6C19.3732 8.5 20 9.1268 20 9.9V20.4789C20 20.9367 19.5079 21.2258 19.108 21.003L15.9734 19.2566C15.3683 18.9195 14.6317 18.9195 14.0266 19.2566L10.892 21.003C10.4921 21.2258 10 20.9367 10 20.4789V9.9Z' fill='white'/%3E%3C/svg%3E");
}

.movie__button-remove {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Crect width='30' height='30' rx='15' fill='%23F9F9F9'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 15.9429L17.357 18.2999L18.4177 17.2393L16.0607 14.8822L18.2999 12.643L17.2393 11.5823L15 13.8216L12.7609 11.5824L11.7002 12.6431L13.9393 14.8822L11.5824 17.2391L12.6431 18.2998L15 15.9429Z' fill='black'/%3E%3C/svg%3E");
}

.movie__figure {
  display: block;
  padding: 0;
  margin: 0;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .movie__figure {
    height: 190px;
  }
}

@media all and (max-width: 767px) {
  .movie__figure {
    height: 168px;
  }
}

.profile {
  box-sizing: border-box;
  min-height: calc(100vh - 74px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__container {
  box-sizing: border-box;
  max-width: 470px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 74px 30px 100px 30px;
}

@media all and (max-width: 767px) {
  .profile__container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 70px;
    padding-bottom: 33px;
  }
}

.profile__header {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.profile-form {
  all: unset;
  display: flex;
  flex-direction: column;
  margin-top: 107px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .profile-form {
    margin-top: 80px;
  }
}

@media all and (max-width: 767px) {
  .profile-form {
    margin-top: 64px;
    flex: 1;
  }
}

.profile-form__content {
  display: flex;
  flex-direction: column;
  min-height: 353px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .profile-form__content {
    min-height: 343px;
  }
}

@media all and (max-width: 767px) {
  .profile-form__content {
    min-height: auto;
    flex: 1;
  }
}

.profile-form__content-bottom {
  margin-top: auto;
}

.profile-form__label {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 1px;
}

.profile-form__label:last-of-type {
  border-bottom-color: transparent;
}

.profile-form__title {
  font-size: 11px;
  font-weight: 500;
  color: #000;
  white-space: nowrap;
}

.profile-form__input {
  all: unset;
  box-sizing: border-box;
  padding: 16px 0 16px 0;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-size: 11px;
  line-height: normal;
  font-weight: 400;
  color: #000;
  text-align: right;
}

.profile-form-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px 0;
}

.profile-form-actions__error-message {
  margin: 0;
  padding: 7px 0;
  font-size: 11px;
  color: #FF004C;
  line-height: normal;
  text-align: center;
}

.profile-form-actions__btn {
  all: unset;
  display: block;
  padding: 7px 12px 7px 12px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 13px;
  line-height: normal;
  font-weight: 400;
  color: #000;
  user-select: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.profile-form-actions__btn:hover {
  opacity: 0.7;
}

@media all and (max-width: 767px) {
  .profile-form-actions__btn {
    font-size: 12px;
  }
}

.profile-form-actions__btn_exit {
  color: #FF004D;
}
/*# sourceMappingURL=style.css.map */